<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<!-- Base DAO, Made abstract and all DAOs must extend this to get singleton 
		access to the sessionFactory -->
	<!-- <bean id="baseDAO" class="com.barclays.gtss.HomeManagement.dao.impl.BaseDAO" 
		abstract="true" scope="singleton"> <property name="sessionFactory" ref="sessionFactory" 
		/> </bean> -->

	<!-- IntelliStage DataSource -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="url"
			value="jdbc:derby://localhost:1527/sample;create=true" />
		<property name="driverClassName" value="org.apache.derby.jdbc.ClientDriver" />
		<property name="username" value="user" />
		<property name="password" value="user" />
	</bean>

	<!-- Transaction Manager -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	<!-- Transaction Manager Bean for declarative transaction -->
	<bean name="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="dataSource" ref="dataSource" />
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- SessionFactory Bean -->
	<bean name="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean"
		scope="singleton">
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.DerbyDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.default_schema">sample</prop>
			</props>
		</property>
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<!-- Add new Entity classes here -->
				<value>org.home.management.entity.FeedJobsStartTimeVO
				</value>
			</list>
		</property>
	</bean>

</beans>
